<h1>Log in</h1>

<form action="<%= session_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_name">User Name</label>
  <input id="user_name"
         type="text"
         name="username"
         value="<%= params[:username] %>">
  <br>
  <label for="password">Password</label>
  <input id="password"
         type="password"
         name="password">
  <br>
  <button>Log In</button>
</form>
