<form action="<%= notes_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <br>
  <label for="new_note">Add a Note</label>
  <br>
  <textarea id="new_note"
  name="note[note_content]" value="">
  </textarea>
  <br>
  <button>Add Note</button>
</form>
