
<% author = User.find(note.user_id) %>
<br>
<%= note.note_content %>
<br>
<%= "--#{author.username}" %>

<% if author == current_user %>
<form action="<%= note_url(note) %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <button>Delete This Note</button>
</form>
<% end %>
<br>
