
<% input_url = action == :new ? tracks_url : track_url(track) %>
<% input_method = action == :new ? "post" : "patch" %>
<% button_text = action == :new ? "Create Track" : "Submit Changes" %>
<% albums = Album.all %>

<form action="<%= input_url %>" method="post">
  <input type="hidden" name="_method" value="<%= input_method %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="track_title">Track Title</label>
  <input id="track_title"
         type="text"
         name="track[track_title]"
         value="<%= track.track_title %>">

  <br>
  <label for="album_name">Album</label>
  <select id="album_name" name="track[album_id]">
    <% albums.each do |album| %>
      <option value="<%= album.id %>"
        <%= "selected" if album.id == track.album_id %> >
        <%= album.album_title %>
      </option>
    <% end %>
  </select>
  <br><br>
  Track Type
  <br>

  <label for="track_type_regular">Regular</label>
  <input id="track_type_regular" type="radio"
         name="track[track_type]" value="regular"
        <%= "checked" if track.track_type == "regular" %>  >

  <label for="track_type_bonus">Bonus</label>
  <input id="track_type_bonus" type="radio"
         name="track[track_type]" value="bonus"
        <%= "checked" if track.track_type == "bonus" %>  >
  <br>

  <label for="track_lyrics">Lyrics</label>
  <textarea id="track_lyrics"
  name="track[lyrics]" value="<%= track.lyrics %>"
  ><%= track.lyrics %></textarea>

  <br>
  <button><%= button_text %></button>
</form>
<br>
<a href="<%= album_url(album) %>"><button><%= album.album_title %></button></a>
