

<% album = Album.find(@track.album_id) %>

<h1><%= @track.track_title.capitalize %></h1>
<br>
Type: <%= @track.track_type.capitalize %>
<br>
<%= @track.lyrics %>
<br>


<a href="<%= edit_track_url(@track) %>"><button>Edit Track</button></a>
<br><br>

<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <button>Delete This Track</button>
</form>
<br>
<a href="<%= album_url(album) %>">
  <button>
    All <%= album.album_title %> Tracks
  </button>
</a>
<br>
<% notes = @track.notes %>
<% notes.each do |note| %>
  <%= render "notes/notes_form", note: note %>
<% end %>


<%= render "notes/new_note_form", track: @track %>
