<h1>New User</h1>

<form action="<%= users_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_name">User Name</label>
  <input id="user_name"
         type="text"
         name="user[username]"
         value="<%= @user.username %>">
  <br>
  <label for="password">Password</label>
  <input id="password"
         type="password"
         name="user[password]">
  <br>
  <button>Submit</button>
</form>
