
<% input_url = action == :new ? albums_url : album_url(album) %>
<% input_method = action == :new ? "post" : "patch" %>
<% button_text = action == :new ? "Create Album" : "Submit Changes" %>
<% bands = Band.all %>

<form action="<%= input_url %>" method="post">
  <input type="hidden" name="_method" value="<%= input_method %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="album_title">Album Title</label>
  <input id="album_title"
         type="text"
         name="album[album_title]"
         value="<%= album.album_title %>">

  <br>
  <label for="band_name">Band</label>
  <select id="band_name" name="album[band_id]">
    <% bands.each do |band| %>
      <option value="<%= band.id %>"
        <%= "selected" if band.id == album.band_id %> >
        <%= band.name %>
      </option>
    <% end %>
  </select>
  <br><br>
  Album Type
  <br>
  <label for="album_type_studio">Studio</label>
  <input id="album_type_studio" type="radio"
         name="album[album_type]" value="studio"
        <%= "checked" if album.album_type == "studio" %>  >

  <label for="album_type_live">Live</label>
  <input id="album_type_live" type="radio"
         name="album[album_type]" value="live"
        <%= "checked" if album.album_type == "live" %>  >
  <br>
  <button><%= button_text %></button>
</form>
<br>
<a href="<%= band_url(band) %>"><button><%= band.name %></button></a>
