<% tracks = @album.tracks.all %>


<% band = Band.find(@album.band_id) %>

<h1><%= @album.album_title %></h1>

<br>
<% tracks.each do |track| %>
<a href="<%= track_url(track) %>">
<%= track.track_title %>
</a>
<br>
<% end %>
<br>

<a href="<%= new_album_track_url(@album) %>"><button>Add Track</button></a>
<br><br>

<a href="<%= edit_album_url(@album) %>"><button>Edit Album</button></a>
<br><br>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <button>Delete This Album</button>
</form>
<br>
<a href="<%= band_url(band) %>"><button>All <%= band.name %> Albums</button></a>
