
<% input_url = action == :new ? bands_url : band_url(band) %>
<% input_method = action == :new ? "post" : "patch" %>
<% button_text = action == :new ? "Create Band" : "Submit Changes" %>

<form action="<%= input_url %>" method="post">
  <input type="hidden" name="_method" value="<%= input_method %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="band_name">Band Name</label>
  <input id="band_name"
         type="text"
         name="band[name]"
         value="<%= band.name %>">

  <br>
  <br>
  <button><%= button_text %></button>
</form>
<br>
<a href="<%= bands_url %>"><button>All Bands</button></a>
