<% albums = @band.albums.all %>

<h1> <%= @band.name %> </h1>

<% albums.each do |album| %>
<a href="<%= album_url(album) %>">
<%= album.album_title %>
</a>
<br>
<% end %>

<br>
<a href="<%= new_band_album_url(@band) %>"><button>Add Album</button></a>

<br><br>
<a href="<%= edit_band_url(@band) %>"><button>Change Band Name</button></a>
<br><br>

<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <button>Delete This Band</button>
</form>
<br>
<a href="<%= bands_url %>"><button>All Bands</button></a>
