<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/log_out_button" unless current_user.nil? %>
  <%= flash[:error] %>
  <%= flash[:notice] %>

<%= yield %>

</body>
</html>
